@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

$normal: 0.33;
$active: 1;

.hidden {
  opacity: 0;
  visibility: hidden;
}

.dscarousel {

  &-slides {
    font-size: 0;
    touch-action: none;
    @include full;

    &-slide {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      transform: translateX(0);
    }
  }
  &-controls {
    @include full;
    pointer-events: none;

    &-arrows {
      @include full;

      &-left, &-right {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 3rem;
        margin: 0 1rem;
        background: url('./assets/arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        filter: drop-shadow(0 .125rem .125rem rgba(0, 0, 0, .25));
        opacity: $normal;
        pointer-events: auto;
        transform: translate(0, -50%);
        transition: opacity .5s;
        &:hover {
          opacity: $active;
        }
      }
      &-left {
        left: 0;
      }
      &-right {
        right: 0;
        transform: translate(0, -50%) scaleX(-1);
      }
    }
    &-dots {
      position: absolute;
      bottom: 0;
      display: flex;
      width: calc(100% - 2rem);
      justify-content: center;
      margin: 1rem;

      &-dot {
        width: .5rem;
        height: .5rem;
        margin: 0 .175rem;
        background: rgba(255, 255, 255, $normal);
        border-radius: 50%;
        box-shadow: 0 .125rem .125rem rgba(0, 0, 0, .25);
        transition: background .5s;
        &.active {
          background: rgba(255, 255, 255, $active);
        }
      }

    }
  }
}
